.main-button {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #68AEF0;
  cursor: pointer;
  display: flex;
  justify-content : center;
  align-items: center;
  color: #ffffff;
  font-weight: lighter;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.child-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  color: #8898A5;
}






















#container {


  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 90px;
  
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}


@-webkit-keyframes floatBubble {
    0% {
        top:500px;
    }
    100% {
        top: 0px;
    }
}
@keyframes floatBubble {
    0% {
        top:500px;
    }
    100% {
        top: 0px;
    }
}